<app-header></app-header>
<div class="content">
  <app-users></app-users>
  <app-login></app-login>
  <app-users2></app-users2>
  <app-interpolation></app-interpolation>
  <app-onclick-event></app-onclick-event>
  <app-get-text-value></app-get-text-value>
  <app-tarnary-operator></app-tarnary-operator>
  <app-switch-operator></app-switch-operator>
  <app-forloop></app-forloop>
  <app-form></app-form>
  <styleBinding></styleBinding>
  <app-parent></app-parent>
  <app-get-api></app-get-api>
</div>
<app-footer></app-footer>
